[submodule "esptool"]
	path = node/nodemcu/lua/esptool
	url = https://github.com/themadinventor/esptool
[submodule "uploader"]
	path = node/nodemcu/lua/uploader
	url = https://github.com/kmpm/nodemcu-uploader
