input {
	rabbitmq {
		queue => "temp"
		host => "{{ host }}"
		vhost => "{{ vhost }}"
		user => "{{ user }}"
		password => "{{ password }}"
		durable => "true"
	}
}

output {
	elasticsearch {
		index => "temperature-%{+YYYY.MM.dd}"
		index_type => "temp"
	}
}
