import paho.mqtt.client as mqtt
from sys import argv
client = mqtt.Client()
client.username_pw_set("{{ vhost }}:{{ user }}", "{{ password }}")
result = client.connect("{{ host }}", {{ port }}, 60)
if result != mqtt.MQTT_ERR_SUCCESS:
	raise Exception, result
result, mid = client.publish("temp", '{"id":"temp-1a:fe:34:fa:b2:' + argv[1] + '", "temp": ' + argv[2] + ', "humid": 59.7}')
if result != mqtt.MQTT_ERR_SUCCESS:
	raise Exception, result
