{
	"WIFI_PASSWORD":"{{ wifi_password }}",
	"WIFI_SSID":"{{ wifi_ssid }}",
	"MQTT_HOST":"{{ host }}",
	"MQTT_USER":"{{ vhost }}:{{ user }}",
	"MQTT_PASSWORD": "{{ password }}",
	"MQTT_PORT": {{ port }}
}
